<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.mapper.StockCheckRecordMapper">

    <resultMap id="BaseResultMap" type="com.inventory.entity.StockCheckRecord">
        <id column="id" property="id"/>
        <result column="part_id" property="partId"/>
        <result column="part_model" property="partModel"/>
        <result column="system_quantity" property="systemQuantity"/>
        <result column="actual_quantity" property="actualQuantity"/>
        <result column="diff_quantity" property="diffQuantity"/>
        <result column="shelf_no" property="shelfNo"/>
        <result column="check_person" property="checkPerson"/>
        <result column="remark" property="remark"/>
        <result column="quarter" property="quarter"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectPageList" resultMap="BaseResultMap">
        SELECT * FROM stock_check_record
        <where>
            <if test="partModel != null and partModel != ''">
                AND part_model LIKE CONCAT('%', #{partModel}, '%')
            </if>
            <if test="quarter != null and quarter != ''">
                AND quarter = #{quarter}
            </if>
            <if test="startTime != null and startTime != ''">
                AND create_time >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND create_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
