<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.mapper.StockCheckRecordMapper">

    <resultMap id="BaseResultMap" type="com.inventory.entity.StockCheckRecord">
        <id column="id" property="id"/>
        <result column="part_id" property="partId"/>
        <result column="part_model" property="partModel"/>
        <result column="system_quantity" property="systemQuantity"/>
        <result column="actual_quantity" property="actualQuantity"/>
        <result column="diff_quantity" property="diffQuantity"/>
        <result column="shelf_no" property="shelfNo"/>
        <result column="check_person" property="checkPerson"/>
        <result column="remark" property="remark"/>
        <result column="quarter" property="quarter"/>
        <result column="snapshot_id" property="snapshotId"/>
        <result column="confirm_status" property="confirmStatus"/>
        <result column="handle_conclusion" property="handleConclusion"/>
        <result column="confirm_person" property="confirmPerson"/>
        <result column="confirm_time" property="confirmTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectPageList" resultMap="BaseResultMap">
        SELECT * FROM stock_check_record
        <where>
            <if test="startTime != null and startTime != ''">
                AND create_time >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND create_time &lt;= #{endTime}
            </if>
            <if test="partModel != null and partModel != ''">
                AND part_model LIKE CONCAT(#{partModel}, '%')
            </if>
            <if test="quarter != null and quarter != ''">
                AND quarter = #{quarter}
            </if>
            <if test="confirmStatus != null">
                AND confirm_status = #{confirmStatus}
            </if>
        </where>
        ORDER BY create_time DESC, id DESC
    </select>

    <resultMap id="HotZoneRowMap" type="com.inventory.dto.StockCheckHotZoneVO$HotZoneRow">
        <result column="shelf_no" property="shelfNo"/>
        <result column="part_model" property="partModel"/>
        <result column="part_type" property="partType"/>
        <result column="system_quantity" property="systemQuantity"/>
        <result column="actual_quantity" property="actualQuantity"/>
        <result column="diff_quantity" property="diffQuantity"/>
        <result column="check_person" property="checkPerson"/>
        <result column="remark" property="remark"/>
        <result column="quarter" property="quarter"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectHotZoneRows" resultMap="HotZoneRowMap">
        SELECT
            scr.shelf_no,
            scr.part_model,
            sp.part_type,
            scr.system_quantity,
            scr.actual_quantity,
            scr.diff_quantity,
            scr.check_person,
            scr.remark,
            scr.quarter,
            scr.create_time
        FROM stock_check_record scr
        LEFT JOIN small_part sp ON scr.part_id = sp.id
        <where>
            <if test="quarter != null and quarter != ''">
                AND scr.quarter = #{quarter}
            </if>
        </where>
        ORDER BY scr.shelf_no, sp.part_type, scr.create_time DESC
    </select>

    <select id="selectByQuarterAndPartModels" resultMap="BaseResultMap">
        SELECT * FROM stock_check_record
        WHERE quarter = #{quarter}
        AND part_model IN
        <foreach collection="partModels" item="model" open="(" separator="," close=")">
            #{model}
        </foreach>
    </select>

    <update id="updateConfirm">
        UPDATE stock_check_record
        SET confirm_status = 1,
            handle_conclusion = #{handleConclusion},
            confirm_person = #{confirmPerson},
            confirm_time = #{confirmTime}
        WHERE id = #{id} AND diff_quantity != 0
    </update>

</mapper>
